
<main>

    <div>
        <h1>Добавление ауцмутмш</h1>
        <div class = 'form'> 
            <form [formGroup]="heroForm">

                <mat-form-field class="form-formatting">
                    <mat-label>Имя</mat-label>
                    <input matInput
                           formControlName="name"
                           type="text"/>
                </mat-form-field>
    
                <mat-form-field class="form-formatting">
                    <mat-label>Сила</mat-label>
                    <input matInput 
                           [min] = 1
                           [max] = 10
                           formControlName="strength"
                           type="number"/>
                </mat-form-field>
    
                <mat-form-field class="form-formatting">
                    <mat-label>Способности</mat-label>
                    <mat-select formControlName="skills">
                        <mat-option value="IMAX">IMAX</mat-option>
                        <mat-option value="VIP">VIP</mat-option>
                        <mat-option value="YAN">РГУ</mat-option>
                        <mat-option value="KIRAKOS">KIRAKOS</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="form-formatting">
                    <mat-label>Уровень</mat-label>
                    <input matInput 
                           formControlName="level"
                           [min] = 1
                           [max] = 10
                           type="number"/>
                </mat-form-field>
            </form>
    
            <button (click)="onOkClick()"
            mat-button 
            cdkFocusInitial 
            class="dialog-accept">Сохранить</button>
        </div>

        <div class = 'form2'>
            еще че-то здесьб
        </div>

    </div>
    <div>
        <div class = 'filter'>
            fverv4
            <p>no chill </p>
    
        </div>
    
        <div class = 'another'>
            hthbt
        </div>
    </div>

</main>
