<main>
    <div class="form">
        <form [formGroup]="heroForm">
            <div class="main-form">
                <h1>Создание героя</h1>
                <mat-form-field class="form-formatting">
                    <mat-label>Имя</mat-label>
                    <input matInput 
                           formControlName="name" 
                           type="text" />
                </mat-form-field>
                <mat-form-field class="form-formatting">
                    <mat-label>Сила</mat-label>
                    <input [min]="1"
                           [max]="10"
                           matInput
                           formControlName="strength"
                           type="number"/>
                </mat-form-field>
                <mat-form-field class="form-formatting">
                    <mat-label>Способности</mat-label>
                    <mat-select multiple
                                formControlName="skills">
                        <mat-option *ngFor="let item of skills" 
                                    [value]="item">{{ item }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-formatting">
                    <mat-label>Уровень</mat-label>
                    <input [min]="1"
                           [max]="10"
                           matInput
                           formControlName="level"
                           type="number"/>
                </mat-form-field>
                <br/>
                <button (click)="onOkClick(); onSortChange('ascending');" 
                        mat-button 
                        class="accept">Создать героя</button>
            </div>
        </form>
        <form [formGroup]="skillsForm">
            <div class="skill-form">
                <h1>Добавить способность</h1>
                <mat-form-field class="form-formatting">
                    <mat-label>Добавление способностей</mat-label>
                    <input matInput 
                           formControlName="newSkills" 
                           type="text"/>
                </mat-form-field>
                <br/>
                <button (click)="onOkClickSkills()" 
                        mat-button 
                        class="accept">Добавить способность</button>
            </div>
        </form>
    </div>
    <div class="second-grid">
        <form [formGroup]="filterForm">
            <div class="filter">
                <div class="inside">
                    <p>
                        <span>Уровень героя: </span>
                    </p>
                </div>
                <div class="inside">
                    <span>от </span>
                    <mat-form-field class="filter-number">
                        <input [min]="1"
                            [max]="this.filterForm.value.number2"
                            matInput
                            formControlName="number1"
                            type="number"/>
                    </mat-form-field>
                    <span> до </span>
                    <mat-form-field class="filter-number">
                        <input [min]="this.filterForm.value.number1"
                            [max]="10"
                            matInput
                            formControlName="number2"
                            type="number"/>
                    </mat-form-field>
                </div>
                <div class="inside">
                    <p>
                        <span>Способности: </span>
                    </p>
                </div>
                <div class="inside">
                    <mat-form-field class="filter-other">
                        <mat-select multiple 
                                    formControlName="skill">
                            <mat-option *ngFor="let item of skills" 
                                        [value]="item">{{ item }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="inside">
                    <p>
                        <span>Поиск по имени: </span>
                    </p>
                </div>
                <div class="inside">
                    <mat-form-field class="filter-other">
                        <input matInput 
                            formControlName="nameSearch" 
                            type="text"/>
                    </mat-form-field>
                </div>
                <div class="inside">
                    <p>
                        <span>Сортировка по уровню: </span>
                    </p>
                </div>
                <div class="inside">
                    <mat-form-field class="filter-other">
                        <mat-select (selectionChange)="onSortChange($event.value)"
                                    formControlName="byMethod">
                            <mat-option value="descending">
                                <span>По убыванию</span>
                            </mat-option>
                            <mat-option value="ascending">
                                <span>По возрастанию</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="title">
            <h1>Карточки героев</h1>
        </div>
        <div class="cards">
            <mat-accordion *ngFor="let item of arr$ | async | filterByLevel : filterForm.value| filterBySkill : filterForm.get('skill')?.value| filterByName : filterForm.get('nameSearch')?.value"
                            class="accordion">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>Имя: {{ item.name }}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        <span>Уровень: {{ item.level }}</span>
                    </p>
                    <p>
                        <span>Способности: {{ item.skills }}</span>
                    </p>
                    <p>
                        <span>Сила: {{ item.strength }}</span>
                    </p>
                    <button (click)="deleteItem(item)" 
                            class="delete-button">Удалить</button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</main>
