
<main>

    <div>
        <form [formGroup]="heroForm">
        <div class = 'form'> 
            <h1>BLOCK 1</h1>
            

                <mat-form-field class="form-formatting">
                    <mat-label>Имя</mat-label>
                    <input matInput
                           formControlName="name"
                           type="text"/>
                </mat-form-field>
    
                <mat-form-field class="form-formatting">
                    <mat-label>Сила</mat-label>
                    <input matInput 
                           [min] = 1
                           [max] = 10
                           formControlName="strength"
                           type="number"/>
                </mat-form-field>
    
                <mat-form-field class="form-formatting">
                    <mat-label>Способности</mat-label>
                    <mat-select formControlName="skills">
                        <mat-option value="gg">
                            gg
                        </mat-option>
                        <mat-option *ngFor="let item of skills" [value]="item">
                            {{ item }}
                        </mat-option>


                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="form-formatting">
                    <mat-label>Уровень</mat-label>
                    <input matInput 
                           formControlName="level"
                           [min] = 1
                           [max] = 10
                           type="number"/>
                </mat-form-field>

    
            <button (click)="onOkClick()"
            mat-button 
            class="dialog-accept">Сохранить</button>
        </div>

        <div class = 'form2'>
            <h1> BLOCK 2</h1>
            <mat-form-field class="form-formatting">
                <mat-label>Добавлнение способностей</mat-label>
                <input matInput
                       formControlName="newSkills"
                       type="text"/>
            </mat-form-field>

            <button (click)="onOkClickSkills()"
            mat-button 
            class="dialog-accept">Сохранить</button>
        </div>

    </form>
    </div>

    <div>
        <div class = "filter">
            <div class = "inside">
                <p>Уровень героя: </p>
            </div>
            <div class = "inside">
                <p>Способности </p>
            </div>
            <div class = "inside">
                <p>Поиск по имени: </p>
            </div>
            <div class = "inside">
                <p>Сортировка по уровню: </p>
            </div>

        </div>
    
        <div class = "another">
            <h1>BLOCK 4</h1>
            
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            Currently I am {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

</main>
