:host {

    main {
        display: grid;
        grid-template-columns: 20% 80%;
        margin: 15px;

        .form {
            position: relative;
            bottom: 21px;
            text-align: center;
            color: white;
            
            .form-formatting {
                width: 250px;
                text-align: left;
            }
            
            .accept {
                color: white;
                border: 2px solid white;
                margin-bottom: 10px;
            }
            
            .main-form{
                background-color: black;
                border-radius: 30px 50px 50px 100px;
            }
            
            .skill-form {
                background-color: black;
                margin-top: 60px;
                border-radius: 30px 50px 50px 100px;
            }
        }

        .second-grid {
            margin-left: 100px;
            margin-right: 40px;

            .filter {
                background-color: black;
                height: 154px;
                font-size: 20px;
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 77px 77px;
                color: white;
                border: 2px solid black;
                border-radius: 30px;

                .inside {
                    margin-left: 15px;

                    .filter-number {
                        width: 100px;
                        margin-top: 10px;
                    }     
                    
                    .filter-other {
                        margin-top: 10px;
                        width: 250px;
                    }
                }            
            }

            .title {
                background-color: black;
                color: white;
                margin-top: 15px;
                text-align: center;
                border: 2px solid black;
                border-radius: 30px 50px 50px 100px;
            }

            .cards {
                margin-top: 20px;
                margin-bottom: 100px;

                .accordion {
                    margin: 10px;
                }
            }
        }    
    }
}
