<mat-dialog-content align="center">
    <h1>
        <strong>Сделай из меня Супермена</strong>
    </h1>
<form [formGroup]="editForm">
    <div class="main-form">
        <mat-form-field class="form-formatting">
            <mat-label>Имя</mat-label>
            <input matInput 
                   formControlName="name" 
                   type="text" />
        </mat-form-field>
        <br>
        <mat-form-field class="form-formatting">
            <mat-label>Сила</mat-label>
            <input [min]="1"
                   [max]="10"
                   matInput
                   formControlName="strength"
                   type="number"/>
        </mat-form-field>
        <br>
        <mat-form-field class="form-formatting">
            <mat-label>Способности</mat-label>
            <mat-select multiple
           mat-selected = "skills"
                        formControlName="skills">
                <mat-option *ngFor="let item of allSkills" 
                            [value]="item">{{ item }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="form-formatting">
            <mat-label>Уровень</mat-label>
            <input [min]="1"
                   [max]="10"
                   matInput
                   formControlName="level"
                   type="number"/>
        </mat-form-field>
        <br/>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="onOkClick()" 
            mat-button 
            cdkFocusInitial
            class="dialog-accept">Создать героя</button>
</mat-dialog-actions>