<table class="main-table">
  <tr>
    <th>Имя</th>
    <th>Уровень</th>
    <th>Сила</th>
    <th>Способности</th>
    <th>Редактирование</th>
    <th>Удаление</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{ item.name }}</td>
    <td>{{ item.level }}</td>
    <td>{{ item.strength }}</td>
    <td>{{ item.skills.join(', ') }}</td>
    <td>
      <button (click)="onChange(item)" 
              class="delete">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
    <td>
      <button (click)="deleteItem(item)" 
              class="delete">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
