:host {

    .main-table {
        position: relative;
        bottom: 21px;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #dddddd;
        border-collapse: collapse; 
        text-align: center;

        th {
            font-weight: bold;
            color: white;
            padding: 5px;
            background: #c2c2c2 linear-gradient(to bottom, #afb7c0 5%, #424e5a 100%);
            border: 3px solid #000000;
            text-shadow: 0 1px 0 rgb(0, 0, 0);
        }

        td {
            border: 1px solid #dddddd;
            padding: 5px;

            .delete {
                color: white;
                background: #c2c2c2 linear-gradient(to bottom, #afb7c0 5%, #424e5a 100%);
            }
        }
    }
}