
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@use '@angular/material' as mat;
@include mat.core();
$lab2Primary: mat.define-palette(mat.$indigo-palette);
$lab2Accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$lab2Warn: mat.define-palette(mat.$red-palette);
$lab2Theme: mat.define-light-theme((
  color: (
    primary: $lab2Primary,
    accent: $lab2Accent,
    warn: $lab2Warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));
@include mat.all-component-themes($lab2Theme);

$bodyBack: rgba(194, 213, 226, 0.8);
html, body {
  margin: 0;
  padding: 0;
  //background-color: $bodyBack;
  height: 100%;
}